In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
from api_keys import g_key

In [21]:
weather_csv = pd.read_csv("../WeatherPy/data_csv/output.csv")
weather_csv

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Tasiilaq,98,GL,1624473168,68,65.6145,-37.6368,8.09,1.92
1,Port Alfred,92,ZA,1624473169,74,-33.5906,26.8910,16.88,6.05
2,Albany,5,US,1624473009,43,42.6001,-73.9662,22.67,0.45
3,Khandyga,100,RU,1624473169,81,62.6667,135.6000,15.00,2.24
4,Northam,100,GB,1624473170,86,51.0333,-4.2167,16.68,2.07
...,...,...,...,...,...,...,...,...,...
552,Adré,100,TD,1624473412,52,13.4667,22.2000,25.51,3.31
553,Leshukonskoye,97,RU,1624473413,86,64.8989,45.7622,18.98,3.99
554,Chignahuapan,100,MX,1624473413,72,19.8333,-98.0333,19.02,2.04
555,Vryburg,5,ZA,1624473414,50,-26.9566,24.7284,11.68,3.18
556,Puerto Escondido,90,MX,1624473414,61,15.8500,-97.0667,29.46,3.42

In [22]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_csv[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_csv["Humidity"]

In [27]:
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [28]:
# Heatmap setup
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)
fig.add_layer(heat_layer)

# Display heatmap
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
print (g_key)

AIzaSyC5hOC2uCUmnB4D7_Zpd5iz1-e6mnmF53g

In [7]:
# Narrow down the DataFrame to find your ideal weather condition. 
# For example (adjusted to display multiples values)
# A max temperature lower than 30 degrees but higher than 20. (data is in celsius)
# Wind speed less than 10 mph.
# Cloudiness less than 20.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

narrow_data_df = weather_csv.loc[(weather_csv["Wind Speed"] <= 10) & (weather_csv["Cloudiness"] == 0) & \
                                   (weather_csv["Max Temp"] >= 20) & (weather_csv["Max Temp"] <= 30)].dropna()

narrow_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
9,Guarapari,0,BR,1624473171,73,-20.6667,-40.4975,26.06,6.11
56,Balyqshy,0,KZ,1624473191,18,47.0667,51.8667,28.00,4.00
80,Kalāleh,0,IR,1624473201,54,37.3807,55.4916,29.78,5.14
169,Caravelas,0,BR,1624473241,71,-17.7125,-39.2481,23.84,5.99
171,Zheshart,0,RU,1624473242,62,62.0731,49.5733,22.35,1.38
182,Dawlatabad,0,AF,1624473247,13,36.4141,64.9053,26.37,2.13
264,Xiaoshan,0,CN,1624473281,69,30.1675,120.2588,24.92,2.00
266,Naze,0,JP,1624473282,76,28.3667,129.4833,22.37,2.66
295,Panjakent,0,TJ,1624473299,32,39.4952,67.6093,21.89,1.31
314,Nichinan,0,JP,1624473307,87,31.6000,131.3667,20.68,1.89
319,Olaszliszka,0,HU,1624473309,61,48.2500,21.4333,29.00,3.60
323,Sarh,0,TD,1624473311,83,9.1429,18.3923,24.95,0.00
328,Prado,0,BR,1624473313,70,-17.3411,-39.2208,24.25,6.11
341,Bozova,0,TR,1624473320,41,37.3625,38.5267,27.51,7.08
434,Talara,0,PE,1624473362,69,-4.5772,-81.2719,26.42,6.69
498,Moscow,0,RU,1624473198,45,55.7522,37.6156,30.00,3.00
506,Marsá Maţrūḩ,0,EG,1624473393,83,31.3525,27.2453,26.11,3.60
548,Kazygurt,0,KZ,1624473411,25,41.7589,69.3864,23.96,1.84

In [8]:
# Hotel df
hotels_df = narrow_data_df.loc[:,["City","Country", "Lat", "Lng"]]
hotels_df["Hotel Name"] = ""

# Print hotel df
hotels_df

             City Country      Lat       Lng Hotel Name
9       Guarapari      BR -20.6667  -40.4975
56       Balyqshy      KZ  47.0667   51.8667
80        Kalāleh      IR  37.3807   55.4916
169     Caravelas      BR -17.7125  -39.2481
171      Zheshart      RU  62.0731   49.5733
182    Dawlatabad      AF  36.4141   64.9053
264      Xiaoshan      CN  30.1675  120.2588
266          Naze      JP  28.3667  129.4833
295     Panjakent      TJ  39.4952   67.6093
314      Nichinan      JP  31.6000  131.3667
319   Olaszliszka      HU  48.2500   21.4333
323          Sarh      TD   9.1429   18.3923
328         Prado      BR -17.3411  -39.2208
341        Bozova      TR  37.3625   38.5267
434        Talara      PE  -4.5772  -81.2719
498        Moscow      RU  55.7522   37.6156
506  Marsá Maţrūḩ      EG  31.3525   27.2453
548      Kazygurt      KZ  41.7589   69.3864

In [9]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [10]:
for index, row in hotels_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    response = requests.get(base_url, params=params).json()
    #print(response)
    
    results = response['results']
    
    try:
        print(f"Nearest hotel in {city_name} is {results[0]['name']}.")
        hotels_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("No hotel available.")   
    print("------------")
    
    time.sleep(2)

print("END HOTEL SEARCH")

Nearest hotel in Guarapari is Hotel Porto do Sol.
------------
Nearest hotel in Balyqshy is River Palace Hotel.
------------
Nearest hotel in Kalāleh is اقامتگاه بومگردی کلبه شیبک.
------------
Nearest hotel in Caravelas is Pousada Encanto Abrolhos.
------------
Nearest hotel in Zheshart is Gostinitsa, Zao Zhfk.
------------
No hotel available.
------------
Nearest hotel in Xiaoshan is New Century Grand Hotel Hangzhou.
------------
Nearest hotel in Naze is Hotel New Amami.
------------
Nearest hotel in Panjakent is Umarion.
------------
Nearest hotel in Nichinan is Nazuna 飫肥 城下町温泉 -小鹿倉邸-.
------------
Nearest hotel in Olaszliszka is Prokop Vendégház.
------------
Nearest hotel in Sarh is hotel safari.
------------
Nearest hotel in Prado is Pousada Casa de Maria.
------------
No hotel available.
------------
Nearest hotel in Talara is Hotel Gran Palma Talara.
------------
Nearest hotel in Moscow is Four Seasons Hotel Moscow.
------------
Nearest hotel in Marsá Maţrūḩ is Negresco Hotel.
------------
No hotel available.
------------
END HOTEL SEARCH

In [11]:
hotels_df

             City Country      Lat       Lng                        Hotel Name
9       Guarapari      BR -20.6667  -40.4975                Hotel Porto do Sol
56       Balyqshy      KZ  47.0667   51.8667                River Palace Hotel
80        Kalāleh      IR  37.3807   55.4916        اقامتگاه بومگردی کلبه شیبک
169     Caravelas      BR -17.7125  -39.2481          Pousada Encanto Abrolhos
171      Zheshart      RU  62.0731   49.5733              Gostinitsa, Zao Zhfk
182    Dawlatabad      AF  36.4141   64.9053
264      Xiaoshan      CN  30.1675  120.2588  New Century Grand Hotel Hangzhou
266          Naze      JP  28.3667  129.4833                   Hotel New Amami
295     Panjakent      TJ  39.4952   67.6093                           Umarion
314      Nichinan      JP  31.6000  131.3667            Nazuna 飫肥 城下町温泉 -小鹿倉邸-
319   Olaszliszka      HU  48.2500   21.4333                  Prokop Vendégház
323          Sarh      TD   9.1429   18.3923                      hotel safari
328         Prado      BR -17.3411  -39.2208             Pousada Casa de Maria
341        Bozova      TR  37.3625   38.5267
434        Talara      PE  -4.5772  -81.2719           Hotel Gran Palma Talara
498        Moscow      RU  55.7522   37.6156         Four Seasons Hotel Moscow
506  Marsá Maţrūḩ      EG  31.3525   27.2453                    Negresco Hotel
548      Kazygurt      KZ  41.7589   69.3864

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Lat", "Lng"]]

In [19]:
# Marker layers and info box setup
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))