In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

In [2]:
weather_csv = pd.read_csv("../WeatherPy/data_csv/output.csv")
weather_csv

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Tasiilaq,98,GL,1624473168,68,65.6145,-37.6368,8.09,1.92
1,Port Alfred,92,ZA,1624473169,74,-33.5906,26.8910,16.88,6.05
2,Albany,5,US,1624473009,43,42.6001,-73.9662,22.67,0.45
3,Khandyga,100,RU,1624473169,81,62.6667,135.6000,15.00,2.24
4,Northam,100,GB,1624473170,86,51.0333,-4.2167,16.68,2.07
...,...,...,...,...,...,...,...,...,...
552,Adré,100,TD,1624473412,52,13.4667,22.2000,25.51,3.31
553,Leshukonskoye,97,RU,1624473413,86,64.8989,45.7622,18.98,3.99
554,Chignahuapan,100,MX,1624473413,72,19.8333,-98.0333,19.02,2.04
555,Vryburg,5,ZA,1624473414,50,-26.9566,24.7284,11.68,3.18
556,Puerto Escondido,90,MX,1624473414,61,15.8500,-97.0667,29.46,3.42

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_csv[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_csv["Humidity"]

In [7]:
# Heatmap setup
heatmap = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)
heatmap.add_layer(heat_layer)

# Display heatmap
heatmap

Figure(layout=FigureLayout(height='420px'))